.at-form {
  font-family: open sans;
  padding-top: 120px;
}
.at-form .btn-default:hover {
  background-color: #2ecc71;
  color: white
}
.postsSubmit,
.postsEdit {
  font-family: open sans;
  padding: 50px;
  padding-top:150px;
}

.postsSubmit .form-control,
.postsEdit .form-control,
.contactForm .form-control {
  border: none;
  box-shadow: none;
  height: 100%;
}
.postsSubmit .form-control:action,
.postsEdit .form-control:action,
.contactForm .form-control:action {
  box-shadow: none;
  border: none;
}

.contactForm {
  padding-top:50px;
  max-width:400px;
  font-weight:300;
  font-family:lato;
}
.contactForm h3 {
  font-family:lato;
}
.contactForm .form-control {
  border:1px solid lightgrey;
}
