/* GENERAL STYLES */

body {
  color: #333;
  font-family: open sans;
}
.container-fluid {
  padding-right:0px;
  padding-left:0px;
}

h1 {
  font-family: PT Sans;
  color: #333;
}
a {
  color:#333;
  font-family: open sans;
}
/* NAVIGATION STYLES */

.navbar-default {
  background-color: transparent;
  border: none;
}
.navbar-brand {
  padding:0px;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > .active > a {
  font-size: 1em;
  font-family: open sans;
}
#at-nav-button {
  padding: 15px;
  font-family: open sans;
  border: none;
  border-radius:none;
}
#spinner {
  height: 300px;
}
/* HEADER STYLES */

header {
  background-image: url('http://i.imgur.com/JADDgSL.jpg');
  background-size:cover;
  height:500px;
  width:100%;
}
#title {
  font-family: Playfair Display;
  font-size: 5em;
  font-weight:lighter;
  text-align: center;
  color:white;
  text-shadow: 2px 1px 5px #333;
}
.site-heading {
  text-align: center;
  padding-top:150px
}
.subheading {
  font-family:lato;
  font-weight:lighter;
  color:white;
  text-shadow: 2px 1px 5px #333;
}
hr {
  border: 0;
  height: 1px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width:50%;
}

/* POST STYLES */
.posts {
  padding-top:50px;
}
.post-title a {
  font-family:PT sans;
  font-weight:bold;
}
.post-subtitle {
  color:lightgrey;
}

.load-more {
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 60px;
  line-height: 60px;
  margin-bottom: 10px;
}
.load-more:hover {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1);
}
.posts .spinner-container {
  position: relative;
  height: 100px;
}
.section-heading {
  font-size: 36px;
  margin-top: 60px;
  font-weight: 700;
}
.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
