<template name="postItem">
    <div class="row postItem" {{attributes}}>
      <div class="post-content">
        <h2 class="post-title"><a href="{{pathFor 'postPage'}}">{{postTitle}}</a></h2>
        <h3 class="post-subtitle">{{postCaption}}</h3>
        <p>
          Submitted by {{username}},
          <a href="{{pathFor 'postPage'}}">{{pluralize commentsCount "comment"}}</a> {{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}
        </p>
      </div>
      <hr>
    </div>
</template>
