<template name="postPage">
  <div class="container postPage">
    <div class="post-heading">
      <h1 id="postTitle">{{postTitle}}</h1>
      <h3 id="postCaption">{{postCaption}}</h3>
    </div>
    <br>
    <hr>
    <br>
    <br>
    <br>
    <div class="container postContent">
      <p id="postContent">{{postContent}}</p>
    </div>

</div>
  <!-- {{> postItem}}

  <ul class="comments">
    {{#each comments}}
      {{> commentItem}}
    {{/each}}
  </ul>

  {{#if currentUser}}
    {{> commentSubmit}}
  {{else}}
    <p>Please log in to leave a comment.</p>
  {{/if}} -->
</template>
