<template name="postSubmit">
    <div class="container postsSubmit">
      <form class="main form">
        <div class="form-group {{errorClass 'postTitle'}}">
          <div class="controls">
            <input name="postTitle" id="postTitle" type="text" value="" placeholder="Post Title" class="form-control" />
            <span class="help-block">{{errorMessage 'postTitle'}}</span>
          </div>
        </div>
        <div class="form-group {{errorClass 'postCaption'}}">
          <div class="controls">
            <input name="postCaption" id="postCaption" type="text" value="" placeholder="Caption" class="form-control" />
            <span class="help-block">{{errorMessage 'postCaption'}}</span>
          </div>
        </div>
        <hr>

        <!-- WYSIWYG Editor is not showing below, why is this? Thanks
        This template will replace the form group shown below.
        {{> editableText context=singlePostDocument collection="posts" field="body"}} -->

        <div class="form-group {{errorClass 'postContent'}}">
          <div class="controls">
            <textarea name="postContent" id="postContent" type="text" value="" rows="10" placeholder="The World is a book, and those who do not travel read only a page...Write your book here!" class="form-control"></textarea>
            <span class="help-block">{{errorMessage 'postContent'}}</span>
          </div>
        </div>
        <input type="submit" value="Submit" class="btn btn-default btn-lg" />
      </form>
    </div>
</template>
